.Application{
    text-align: center;
  }
  
  .Application-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Application-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Application-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Application-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* .qaz{
    position:absolute;
  } */
  .nm{
    font-color:blue;
  }
  .jkl
  {
    padding-left:10px;
    padding-right:10px;
  }
  .kl{
    margin:0 10%;
  }
  .kp{
    width:50%;
    margin:0 20%;
    text-align:center;
  }
  .df{
    text-align:left;
    margin-right:35%;
    position:relative;
    top:10px;
    margin-top:13%;
    margin-left:1%;
    
  }
  .navbar {
    display: flex;
    background-color: #E8E8E9;
    margin-left:4%;
    width:30%;
    /* font-size:35%; */
  }
  
  .navbar a {
    flex-grow: 1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .image-container {
    display: none;
  }
  .opl{
    margin-left:1%;
  }
  .sd{
    text-align:left;
    margin-left:65%;
    position:absolute;
    margin-top:-10%;
  
  } 
  @media only screen and (max-width: 800px) {
    .sd {
        display: none;
    }
}
   /* .qaz{
    position:absolute;
    top:0px;
  } */